@{
    ViewBag.Title = "Glossary App";
}

<div class="jumbotron">
    <h1>Glossary</h1>
    <small><i>noun</i></small>
    <p class="lead">an alphabetical list of terms or words found in or relating to a specific subject, text, or dialect, with explanations; a brief dictionary.</p>
</div>

<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h2>Getting started</h2>
            <p>Let's go ahead and add in a term.</p>
        </div>

        @using (Html.BeginForm("Add", "Home", FormMethod.Post))
        {
            <form>
                <div class="form-group">
                    <label for="term">Term</label>
                    <input class="form-control" id="term" name="TermNameOrPhrase" placeholder="Term" required>
                    <small id="term" class="form-text text-muted">A single word or short phrase</small>
                </div>
                <div class="form-group">
                    <label for="definition">Definition</label>
                    <textarea class="form-control" id="definition" name="Definition" placeholder="Definition" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary" id="homeSubmitBtn">Submit</button>
            </form>
        }
    </div>
</div>